* {
  box-sizing: border-box;
  /* border: 1px solid black;  */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #505050;
  font-weight: normal;
  margin: 0;
  font-size: 12px;
}
body{
  background-color: rgb(236, 238, 241)
}

a{
  text-decoration: none;
  color: #0077C5;
}

button{
  background: #0077C5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  color: white;
}

.nav-container{
  height: 60px;
  padding: 10px 30px;
}
.nav{
  float: right;
}
.nav-column{
  float: left;
  margin-left: 10px;
  text-align: right;
  line-height: 1.5;;
}
.signin{
  height: 34px;
  padding: 0 20px;
  font-size: 1.125em;
}

.logo-center{
  text-align: center;
}
.header{
  height: 75px;
  padding: 20px;
}
.intuit-logo img{
  height: 35px;
}
.service-logos{
  height: 42px;
  padding-bottom: 4px;
}
.service-logos img{
  height: 23px;
}

.form-container{
  font: 14px;
  padding: 30px;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  background-color: #fff;
  width: 380px;
  height: 673px;
  margin: auto;
  line-height: 1.5;
}

.form-header{
  text-align: center;
  color: #4C4C4C;
  padding-bottom: 20px;
}

.form-title{
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  display: block;
}

.subheader{
  display: block;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 300;
}

