* {
  box-sizing: border-box;
  /* border: 1px solid black;  */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #505050;
  font-weight: normal;
  margin: 0;
  font-size: 12px;
  text-align: center;
}
body{
  background-color: rgb(236, 238, 241)
}

a{
  text-decoration: none;
  color: #0077C5;
}

button{
  background: #0077C5;
  border-radius: 4px;
  border: 1px solid #4c4c4c;
  color: white;
}

.nav-container{
  height: 60px;
  padding: 10px 30px;
}
.nav{
  float: right;
}
.nav-column{
  float: left;
  margin-left: 10px;
  text-align: right;
  line-height: 1.5;;
}
.signin{
  height: 34px;
  padding: 0 20px;
  font-size: 1.125em;
}

.logo-center{
  text-align: center;
}
.header{
  height: 75px;
  padding: 20px;
}
.intuit-logo img{
  height: 35px;
}
.service-logos{
  height: 42px;
  padding-bottom: 4px;
}
.service-logos img{
  height: 23px;
}

.form-container{
  font-size: 14px;
  padding: 30px;
  padding-bottom: 0;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  background-color: #fff;
  width: 380px;
  height: 673px;
  margin: auto;
  line-height: 1.5;
}

form{
  padding-bottom: 34px;
}
.form-header{
  text-align: center;
  color: #4C4C4C;
  padding-bottom: 20px;
}

.form-title{
  font-size: 24px;
  line-height: 1.1;
  font-weight: 400;
  display: block;
}

.subheader{
  display: block;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 300;
}

form > *{
  text-align: left;
  display: block;
  font-size: 14px;
}

label{
  color: #404040;
  line-height: 25px;
  padding-bottom: 6px;
  font-size: 14px;
  text-align: left;
}

.input-field{
  width: 320px;
  min-width: 160px;
  height: 34px;
  position: relative;
}

fieldset{
  outline: none;
  padding: 0;
  border: 0;
}
fieldset  label{
  padding-bottom: 6px;
  display: block;
}

.fieldset-email{
  height: 95px;
}
.fieldset-phone{
  height: 115px;
}
.fieldset-password{
  height: 98px;
}

.form-button{
  width: 318px;
  height: 44px;
  padding: 6px 12px;
  text-align: center;
}

.terms{
  height: 63px;
  width: 318px;
}
.recaptcha-wrapper{
  width: 378px;
  height: 60px;
  margin-left: -30px;
  background-color: #ECEEF1;
}
.recaptcha{
  display: block;
  margin: 32px 0 -30px 0;
  padding: 16px;
}

.recaptcha span,
.recaptcha a{
  font-size: 10px;
  color: #8d9096;
}
